.easyling-flag {
    margin-right: 4px;
}

.easyling-floater {
    z-index: 10001;
    position: fixed;
    right: 0px;
    top: 33%;
    margin-top: 22px;
    height: 36px;
    width: 34px;
    cursor: pointer;
    background-color: white;
    border-top-left-radius: 14px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 14px;
    overflow: hidden;
    background-position: initial initial;
    background-repeat: initial initial;
}

.easyling-floater a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 32px;
    height: 22px;
    cursor: pointer;
    color: white;
    text-indent: 1000px;
    white-space: nowrap;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.easyling-floater a:first-child {
    border-top-left-radius: 12px;
}

.easyling-floater a:last-child {
    border-bottom-left-radius: 12px;

}